
{% extends 'base.html' %}

{% block title %}{{ form.instance.pk|yesno:"Ažuriraj,Dodaj" }} Odjel{% endblock %}

{% block content %}
    <h2>{{ form.instance.pk|yesno:"Ažuriraj,Dodaj" }} Odjel</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
            {{ form.name.label_tag }}
            {{ form.name }}
            {{ form.name.errors }}
        </div>
        <div class="mb-3">
            {{ form.description.label_tag }}
            {{ form.description }}
            {{ form.description.errors }}
        </div>
        <div class="mb-3">
            {{ form.parent.label_tag }}
            {{ form.parent }}
            {{ form.parent.errors }}
        </div>
        <div class="mb-3">
            {{ form.manager.label_tag }}
            {{ form.manager }}
            {{ form.manager.errors }}
        </div>
        <button type="submit" class="btn btn-primary">{{ form.instance.pk|yesno:"Ažuriraj,Dodaj" }}</button>
        <a href="{% url 'ljudski_resursi:department_list' %}" class="btn btn-secondary">Poništi</a>
    </form>
{% endblock %}