
{% extends 'projektiranje_app/base.html' %}

{% block title %}{{ form.instance.id|yesno:"Uredi Design Task,Dodaj Design Task" }}{% endblock %}

{% block content %}
    <h1>{{ form.instance.id|yesno:"Uredi Design Task,Dodaj Design Task" }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Spremi</button>
        <a href="{% url 'projektiranje_app:designtask_list' %}" class="btn btn-primary">Nazad na Listu</a>
    </form>
{% endblock %}