{% extends 'projektiranje_app/base.html' %}

{% block title %}Lista Projekata{% endblock %}

{% block content %}
    <h1>Projekti</h1>
    <a href="{% url 'projektiranje_app:project_create' %}" class="btn btn-primary mb-3">Dodaj Projekt</a>
    <ul class="list-group">
        {% for project in projects %}
            <li class="list-group-item">
                <a href="{% url 'projektiranje_app:project_detail' project.id %}">{{ project.naziv_projekta }}</a>
                <a href="{% url 'projektiranje_app:project_update' project.id %}" class="btn btn-sm btn-secondary float-right">Uredi</a>
            </li>
        {% empty %}
            <li class="list-group-item">Nema projekata.</li>
        {% endfor %}
    </ul>
{% endblock %}
